@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@container(max-width:120px) {
  .table-d5e33407-730e-4d4b-9125-c8300679d0f9-column-120 {
    display: none;
  }
}

@container(max-width:240px) {
  .table-d5e33407-730e-4d4b-9125-c8300679d0f9-column-240 {
    display: none;
  }
}

@container(max-width:360px) {
  .table-d5e33407-730e-4d4b-9125-c8300679d0f9-column-360 {
    display: none;
  }
}

@container(max-width:480px) {
  .table-d5e33407-730e-4d4b-9125-c8300679d0f9-column-480 {
    display: none;
  }
}